div.img {
  justify-content: center;
  img {
    width: 100px;
  }
}
h1.header {
  text-align: center;
  color: skyblue;
}
form.input_box {
  display: flex;

  flex-direction: column;
  margin: 10px auto;
  width: 60%;
  div {
    display: flex;
    margin: 10px;
    text-align: center;
    span {
      color: violet;
      text-align: right;
      flex: 1;
    }
    input {
      flex: 1;
    }
  }
}

div.btn_box {
  justify-content: center;
  display: flex;
  button {
    flex: 1;
    margin: 0 3px;
    &:hover {
      cursor: pointer;
    }
  }
}
